* {
  box-sizing: border-box;
  margin: 0px;
}

.wrapper {
  width: 1000px;
  height: 500px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
}

.chat {
  width: 100%;
  overflow-y: scroll;
  height: 723.875px;
}

.chat_author {
  background-color: thistle;
  text-align: center;
  width: 20%;
  border-radius: 50px;
}

.chat_item {
  display: flex;
  align-items: baseline;
  width: 100%;
  justify-content: baseline;
  padding: 10px;
}

.chat_wrapper {
  width: 80%;
  height: 100%;
  border: 1px solid #e8e8e8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.chat_container {
  width: 100%;
  height: 34.86px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 5px; */
}

#chat_input {
  width: 80%;
  height: 100%;
}

.chat_button {
  width: calc(20%);
  height: 100%;
}

.list {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list_top {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e8e8e8;
  padding: 5px;
}

.list_mid {
  width: 100%;
  height: 100%;
  margin: 10px;
  padding: 10px;
}

.list_btm {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  border-top: 1px solid #e8e8e8;
}
